<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-10 col-md-8 mx-auto">
        <h1 class="fw-light">Add New Place</h1>
        <div class="row py-lg-5 border">
          <%= render 'form', place: @place %>
        </div>
      </div>
    </div>
  </section>
</main>
